<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Room</th>
      <th>Is confirmed</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
    <% if(booking.user_id == current_user.id)%>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.user_id %></td>
        <td><%= booking.room_id %></td>
        <td><%= booking.is_confirmed %></td>
        <td><%= booking.price %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <%end%> 
    <% end %>
  </tbody>
</table>

<br/>
<% @bookings.where(user_id: current_user.id).each do |booking|%>
   <%if(booking.start_date < Date.today)&&(booking.end_date>Date.today)%>
       <li> PRESENT booking
       <%= booking.room.name%>--<%= booking.start_date %>--<%= booking.end_date%></li>        
   <%elsif(booking.start_date > Date.today)%>
         <li> FUTURE BOOKINGS
       <%= booking.room.name%>--<%= booking.start_date %>--<%= booking.end_date%></li>        
   <%else%>
       <li> PAST BOOKING:
       <%= booking.room.name%>--<%= booking.start_date %>--<%= booking.end_date%></li>        
   <%end%>
<%end%>