     
     <%if(current_user.role_id != 1)%>
        <%@rooms.each do |room|%> 
             <%if(room.is_authorized == true)%>
                  <li><%=link_to room.name,room_path(room.id)%><br/></li>
             <%end%>
        <%end%>
     <%else%>   
        <%@rooms.each do |room|%>
             <ol>
             <%if(room.is_authorized == true)%>
                 <li><%= room.name%></li>
             <%end%>
             </ol>
        <%end%> 
      <%end%>      
<br/> <br/> <br/> <br/> <br/> <br/>




<ol>
<%@rooms.each do |room|%>
    <%binding.pry%>
    <%if(current_user.role_id == 1)%>
       	<%if((room.is_authorized == false)||(room.is_authorized == nil))%>
          <%binding.pry%>
          <%=room.name%>    
          <%=form_for room do |f|%>
          <%= f.radio_button :is_authorized,true%>authorize
          <%= f.radio_button :is_authorized,false%>unauthorize
          <%binding.pry%>
          <%= f.submit "authorization"%>
          <%end%><br/>
          <br/>
        <%end%>
       <%end%> 
<%end%>
</ol>

<br/> <br/> <br/> <br/> <br/> <br/>
<% if(current_user.role_id == 2)%>
MY Rooms(host)whose bookings needed to  be confirmed are here

      <%@rooms.each do |room|%>
      <%binding.pry%>
      <% if(room.is_authorized == true)%>
      <%if(room.user_id == current_user.id)%>
         <%Booking.all.where({room_id: room.id,is_confirmed: false} ).each do |booking|%>
               <%binding.pry%>            
               <li><%= link_to "confirm the  #{room.name} slot #{booking.start_date} and #{booking.end_date} #{booking.room.name}", edit_booking_path(booking.id)%><br/></li>
               <%binding.pry%>
          <%end%>
        <%end%> 
        <%end%>
      <%end%>
 <%end%>
<ol>


<%if(user_signed_in? )%>
<%= link_to "add a new room",new_room_path %><br/>
<%end%>

<%= will_paginate @rooms %>