<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>
<%if(user_signed_in?)&&(can? :manage,@city)%>
     <%= link_to 'Edit', edit_city_path(@city) %> |
     <%= link_to 'Back', cities_path %>
<%end%>
<ul>
<%@city.rooms.each do |room|%>
   <li><%=link_to room.name,room_path(room.id)%>Price:<%=room.price%>,Images:<%=image_tag(room.images,size: "30x30")%></li>
<%end%>
</ul>
