<!DOCTYPE html>
<html>
  <head>
    <title>RentARoom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= link_to "All the cities",cities_path%>
  <% if user_signed_in? %>
     welcome<%=current_user.email%>
        <%= link_to "AccountSettings",edit_user_registration_path%>
        <%= link_to "Logout",destroy_user_session_path,method: :delete%><br/>
        <%= link_to "Amenities",amenities_path%><br/>
        <%= link_to "Rooms",rooms_path%>
        <%= link_to "MY Rooms",rooms_path%>     
     <%else%>
        <%= link_to "Login",new_user_session_path%>
        <%= link_to "Registration",new_user_registration_path%>
    <%end%> 
  <body>
    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
